.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;

  .landingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    .videoContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 390px;
      height: 200px;
      position: relative;

      .videoWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .backgroundVideo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          left: 90px;
        }
      }
    }

    .textContent {
      width: 100%;
      .newText {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.5rem;
        color: white;
        text-align: center;
        letter-spacing: 10px;
        padding-left: 2px;
      }
    }
  }
}
