.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;

  .landingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    height: 600px;
    width: 432px;

    .imageOne {
      position: absolute;
      left: 39px;
      width: 165px;
      height: 230px;
    }
    .imageTwo {
      position: absolute;
      right: 43px;
      top: 11rem;
      width: 276px;
      height: 236px;
    }
    .imageThree {
      position: absolute;
      top: 12.1rem;
      right: 7.3rem;
    }
    .imageThreeAlt {
      position: absolute;
      top: 12.1rem;
      right: 8rem;
    }
    .imageFour {
      position: absolute;
      bottom: 40px;
    }
  }
}
